<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpe.cin.if710.podcast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_headset_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_headset_black_24dp"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SettingsActivity" />

        <!--
        <receiver
            android:name=".listeners.FeedWasDownloadedReceiver"
            android:exported="false"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="br.ufpe.cin.if710.podcast.action.FeedWasUpdated" />
            </intent-filter>
        </receiver>
        -->

        <service
            android:name=".services.DownloadPodcastService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.UpdateFeedService"
            android:enabled="true"
            android:exported="false" />

        <!--
            <service android:name=".ui.MainActivity$DownloadServiceExtension"
            android:enabled="true"
            android:exported="false"/>
        -->

        <provider
            android:name=".db.PodcastProvider"
            android:authorities="br.ufpe.cin.if710.podcast.feed"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.EpisodeDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>